.Form {
  display: grid;

  grid-template-rows: 54px 36px auto;
  grid-template-columns: 30px auto;
}

.TitleItem {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.ModalTypeItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;

  button {
    height: 36px;
    font-size: 14px;
  }
}

.TimeRow {
  display: flex;
}

.LeftContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 40px;

  svg {
    width: 20px;
    height: 20px;
  }
}
