@import "../../../colors.scss";

:global {
  .modal-content {
    width: 540px;
  }
}

.CreateHeader {
  background-color: $gray-background;
}

.Header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;

  :global {
    & button.btn-close {
      margin: 0px;
    }
  }

  .Buttons {
    display: flex;
    margin-right: 10px;
  }
}

.Footer {
  border: 0;
}
