@import "../../../colors.scss";

:root {
  --modal-top: "120px";
  --modal-left: "301px";
}

.Dialog {
  position: absolute;
  width: 490px;
  top: var(--modal-top);
  left: var(--modal-left);

  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.16);
}

.Backdrop {
  background-color: transparent;
}

.CreateHeader {
  background-color: $gray-background;
}

.Header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 48px;

  :global {
    & button.btn-close {
      margin: 0px;
    }
  }

  .Buttons {
    display: flex;
    margin-right: 10px;
  }
}

.Footer {
  border: 0;
}
