@import "../../mixins.scss";

.GoogleAppsButton {
  @include circle(40px);
  @include activated-background();

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;

  background-color: transparent;

  padding: 10px;
  svg {
    width: 20px;
    height: 20px;
  }
}
