@import "../../mixins.scss";

.SearchButton {
  @include circle(40px);
  @include activated-background();

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  border-width: 0;
  background: {
    color: transparent;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
